{% spaceless %}
<div class="sub-right">
    <h3 class="menu-title white">Conseils d'utilisation</h3>
    <a href="#">
        <img src="{{ asset('bundles/rpepum/images/advices/advice_groups.png') }}" alt="" title=""/>
        <span>{{ "rightMenu.all_tips"|trans({}, 'rpe') }}</span>
    </a>
</div>
{% endspaceless %}