<div class="filter">

    {% block title %}
        <h2 class="filter-title"> Mes publications <span>(126)</span></h2>
    {% endblock %}

    {% block filter %}
        <div class="filter-right">
            <ul class="filter-right-wrapper">
                <!-- <li class="filter-link">
                    <select>
                        <option value="value1">Les plus consultés</option>
                        <option value="value2">Les moins consultés</option>
                        <option value="value4">Les plus récentes</option>
                        <option value="value5">Les moins récentes</option>
                        <option value="value6">Publication créée par moi</option>
                        <option value="value7">Publication co-créé</option>
                        <option value="value8">Uniquement les brouillons</option>
                        <option value="value9">Uniquement les mises en ligne</option>
                    </select>
                </li>
                <li class="filter-link">
                    <select>
                        <option value="value1">Toutes les disciplines</option>
                        <option value="value2">Les moins consultés</option>
                        <option value="value4">Les plus récentes</option>
                        <option value="value4">Les moins récentes</option>
                        <option value="value4">Publication créée par moi</option>
                        <option value="value4">Publication co-créé</option>
                        <option value="value4">Uniquement les brouillons</option>
                        <option value="value4">Uniquement les mises en ligne</option>
                    </select>
                </li>
                <li class="filter-link">
                    <select>
                        <option value="value1">Tous les niveaux</option>
                        <option value="value2">Les moins consultés</option>
                        <option value="value4">Les plus récentes</option>
                        <option value="value4">Les moins récentes</option>
                        <option value="value4">Publication créée par moi</option>
                        <option value="value4">Publication co-créé</option>
                        <option value="value4">Uniquement les brouillons</option>
                        <option value="value4">Uniquement les mises en ligne</option>
                    </select>
                </li> -->
                <li class="filter-link">
                    <span id="big" class="picto-big"></span>
                    <span id="small" class="picto-small opac"></span>
                </li>
            </ul>
        </div>
    {% endblock %}

</div>