<div class="form-publication inner-publication">
    <div class="publication-inner-forms no-width">
        <div class="publication-inner-form-wrapper" data-tab="simple-message">
            <div class="inner-padding">

                {{ form_errors(form) }}
                {{ form_start(form) }}

                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>