<div class="tip-box">
    <h4 class="title">Partenaire</h4>
    <div class="talk-bubble">
        <div class="arrow"></div>
        <p>
            Créer une page partenaire
        </p>
    </div>
    <img src="{{ asset('bundles/rpepum/images/tmp/image-create-perso.jpg') }}">

</div>