<div class="tip-box">
    <h3 class="tip-box-title">{{ "tips.using"|trans({}, 'rpe') }}</h3>
    <a href="#">
        <img src="{{ asset('bundles/rpepum/images/advices/advice_diffusion.png') }}" alt="" title=""/>
        <span>> Tous les conseils</span>
    </a>
</div>