// ------
// Footer
// ------

footer {
    // position : fixed;
    // bottom   : 0;
    width    : 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-nav {
    // @include background-image(linear-gradient(top, $bg-blue-1, $bg-blue-2));
    background: $background-blue-1;
    position: relative;
    display: block;
    width: 100%;
    margin-top: 0%;
    height: $footer-height;
    text-align: center;
    line-height: $footer-height;
    border-top: 1px solid $background-blue-2;

    .footer-list {
        margin: 0;
        width: 0;
        width: inherit;
        height: inherit;
        line-height: inherit;
    }

    .footer-item {
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;

        & > a {
            padding: 0 15px;
            border-right: 1px solid $light-grey-font;
            color: $light-grey-font;
            text-decoration: none;
            font-family: $HelveticaNeue;

            &:hover{
                text-decoration: underline;
            }
        }
        &:last-child > a {
            border-right: none;
        }
    }

    @media screen and (max-width: $portrait-screen) {

    }

    @media screen and (max-width: $landscape-screen) {

    }
}