<div class="side-componant">
    <div class="padding-wrapper">
        <h3 class="componant-title">{{ "sidebar.rss"|trans({}, 'rpe') }}</h3>
        <ul>
            <li class="rss-componant">
                <a href="#">
                    <span class="rss-page">Notre dossier rentrée des classes 2013</span>
                    <span class="rss-date">Publié le 22/10/2013</span>
                </a>
            </li>
            <li class="rss-componant">
                <a href="#">
                    <span class="rss-page">Notre dossier rentrée des classes 2013</span>
                    <span class="rss-date">Publié le 22/10/2013</span>
                </a>
            </li>
            <li class="rss-componant">
                <a href="#">
                    <span class="rss-page">Notre dossier rentrée des classes 2013</span>
                    <span class="rss-date">Publié le 22/10/2013</span>
                </a>
            </li>
        </ul>
    </div>
    <a href="#" class="componant-link">Flux provenant de http://cafe-pedagogique.com</a>
</div>