<div class="side-componant grey">
    <div class="padding-wrapper">
        <h4 class="componant-title">{{ "sidebar.sources"|trans({}, 'rpe') }}</h4>
        <ul class="ressource-list-wrapper">
            <li><a href="#">http://www.google.fr/brevet</a></li>
            <li><a href="#">http://brevetdescolleges.fr/brevet2014/6eme</a></li>
        </ul>
        <ul class="ressource-list-wrapper">
            <li>Pas d'utilisation commerciale</li>
        </ul>
    </div>
</div>