<div class="side-componant grey">
    <div class="padding-wrapper">
        <h4 class="componant-title">{{ "sidebar.ressources"|trans({}, 'rpe') }}</h4>
        <div class='componant-wrapper'>
            <a href="{{notice.url}}" target='_blank' class='light-blue action-btn componant-inner-left'>Accéder à la ressource</a>
        </div>
    </div>
</div>