<div class="messages-top">
    <div class="messages-top-left">
        <a href="#" class="action-btn orange icon-mail more-messages js-loadmore js-infinite js-load-inner load-new-message-form" data-href="{{ path('new_message') }}" data-target=".messages-main-container">{{ "messagesTop.write"|trans({}, 'rpe') }}</a>
        {# <a class="action-btn light-blue icon-mail" href="#">{{ "messagesTop.manage"|trans({}, 'rpe') }}</a>  #}
    </div>
    <div class="messages-top-right">
        <!-- <form class="">
            <input type="text" name="" class="search" placeholder="Recherche..." />
            <input type="submit" value="rechercher" class="action-btn dark-blue btn-submit" name="submit" />
        </form> -->
    </div>
</div>