<div>
    <p>Bonjour {{ name }}</p>
    <p>Nous avons le plaisir de confirmer votre inscription à Viaéduc.</p>
    <p>Afin de confirmer votre inscription, cliquez sur le bouton ci-dessous pour finaliser votre inscription :</p>
</div>
<div>
    <a href="{{ confirmation_link }}">Confirmer</a>
</div>