Bonjour {{ user.firstname ~ ' ' ~ user.lastname }},<br /><br />

Le transfert de votre compte RESPIRE vers Viaéduc est confirmé.<br /><br />

Pour retrouver vos contenus et découvrir votre nouvel environnement, confirmez votre inscription en cliquant sur le lien ci-dessous :<br />
<a href="{{ confirmation_link }}">{{ confirmation_link }}</a><br /><br />

Dès votre première connexion, il vous sera demandé de vérifier et compléter vos informations de profil.<br /><br />

Nous vous invitons également à modifier vos publications et documents pour les partager à nouveau avec votre réseau ou vos groupes.<br /><br />

L'identité RESPIRE est préservée puisque les groupes disposent d’un label spécifique, utilisable comme critère dans le moteur de recherche de Viaéduc.<br /><br />

Viaéduc, dont le développement continu vise à vous offrir les outils les mieux adaptés et un environnement élargi, est en période d'expérimentation jusqu'en janvier 2015. Les ressources, groupes ou relations que vous créerez resteront bien entendu disponibles au-delà de cette période.<br /><br />

Pour toute demande d'assistance ou de conseil sur Viaéduc, un groupe est dédié pour recevoir questions ou remarques: <a href="http://www.viaeduc.fr/group/141">http://www.viaeduc.fr/group/141</a><br /><br />

Bienvenue sur Viaéduc, le réseau social professionnel des enseignants !<br /><br />

Bien cordialement,<br /><br />

Les équipes d'animation RESPIRE et Viaéduc,<br />
DGESCO-DRDIE et réseau Canopé<br />