{% extends "pum://page/layout.html.twig" %}

{% block content %}
    <div class="wrapper">
        {% block breadcrumb '' %}
        <div class="content full">
            {% block main_content '' %}
        </div>
    </div>
{% endblock %}