/* function to convert px to rem */
/* line 5, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb { margin-top: 15px; margin-bottom: 15px; }
/* line 8, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb ul { margin: 0; padding: 0; }
/* line 12, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li { font-size: 12px; font-size: 0.75rem; display: inline-block; vertical-align: middle; line-height: 15px; margin: 0 1% 0 0; color: #293547; font-family: Verdana, Arial, sans-serif; position: relative; padding-left: 15px; }
/* line 22, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li .icon-home { color: #293547; font-size: 22px; font-size: 1.375rem; }
/* line 26, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li.home { margin-right: 0; padding-left: 0; }
/* line 30, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li:first-child a { padding-left: 0; }
/* line 33, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li a, #breadcrumb li span { width: auto; color: #293547; font-size: 12px; font-size: 0.75rem; font-family: Verdana, Arial, sans-serif; position: relative; }
/* line 41, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li.item-index:before { position: absolute; left: 0; display: block; content: '>'; text-align: center; top: 0; line-height: 15px; font-size: 12px; font-size: 0.75rem; }

/* line 28, ../../assets/sass/legals-mentions.scss */
h2 { margin-top: 0; font-family: "MissionScriptRegular", Arial, sans-serif; }

/* line 32, ../../assets/sass/legals-mentions.scss */
.mentions { font-size: 12px; font-size: 0.75rem; padding: 15px; border: 1px solid #9a9a9a; background: #d7d7d7; color: #313335; line-height: 2em; }
