/* function to convert px to rem */
/* line 8, ../../assets/sass/layout/_sidebar.scss */
.sidebar { width: 32.96%; display: inline-block; vertical-align: top; margin: 0 2.4% 0 0; }
/* line 14, ../../assets/sass/layout/_sidebar.scss */
.sidebar.sidebar-right { margin: 0 0 0 2.4%; }

/* line 5, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb { margin-top: 15px; margin-bottom: 15px; }
/* line 8, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb ul { margin: 0; padding: 0; }
/* line 12, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li { font-size: 12px; font-size: 0.75rem; display: inline-block; vertical-align: middle; line-height: 15px; margin: 0 1% 0 0; color: #293547; font-family: Verdana, Arial, sans-serif; position: relative; padding-left: 15px; }
/* line 22, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li .icon-home { color: #293547; font-size: 22px; font-size: 1.375rem; }
/* line 26, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li.home { margin-right: 0; padding-left: 0; }
/* line 30, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li:first-child a { padding-left: 0; }
/* line 33, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li a, #breadcrumb li span { width: auto; color: #293547; font-size: 12px; font-size: 0.75rem; font-family: Verdana, Arial, sans-serif; position: relative; }
/* line 41, ../../assets/sass/componants/_breadcrumbs.scss */
#breadcrumb li.item-index:before { position: absolute; left: 0; display: block; content: '>'; text-align: center; top: 0; line-height: 15px; font-size: 12px; font-size: 0.75rem; }

/* line 7, ../../assets/sass/componants/_side-box.scss */
.sidebar-box { display: inline-block; width: 100%; padding: 4% 5%; background: #d7d7d7; font-family: Verdana, Arial, sans-serif; margin: 0 0 20px 0; }
/* line 15, ../../assets/sass/componants/_side-box.scss */
.sidebar-box:last-child { margin: 0; }
/* line 19, ../../assets/sass/componants/_side-box.scss */
.sidebar-box > h3 { font-family: "MissionScriptRegular", Arial, sans-serif; color: #293547; font-size: 30px; font-size: 1.875rem; margin: 0 0 10px 0; }
/* line 26, ../../assets/sass/componants/_side-box.scss */
.sidebar-box ul > li { display: inline-block; width: 50%; margin: 0 0 5% 0; }
/* line 31, ../../assets/sass/componants/_side-box.scss */
.sidebar-box ul > li img { display: inline-block; width: 65px; height: 65px; margin: 0 4px 0 0; }
/* line 38, ../../assets/sass/componants/_side-box.scss */
.sidebar-box ul > li .info-details { display: inline-block; vertical-align: middle; width: 100px; color: #293547; font-size: 12px; font-size: 0.75rem; line-height: 1.1em; }
/* line 46, ../../assets/sass/componants/_side-box.scss */
.sidebar-box ul > li .info-details a { display: inline-block; color: #293547; margin: 0 0 3px 0; font-weight: bold; }
/* line 53, ../../assets/sass/componants/_side-box.scss */
.sidebar-box ul > li .info-details .square-btn { display: inline-block; color: #7a7b7d; margin: 7px 0 0 0; }
/* line 60, ../../assets/sass/componants/_side-box.scss */
.sidebar-box ul > li:hover { text-decoration: none; }
/* line 65, ../../assets/sass/componants/_side-box.scss */
.sidebar-box > a { float: right; font-size: 14px; font-size: 0.875rem; color: #293547; }
/* line 71, ../../assets/sass/componants/_side-box.scss */
.sidebar-box.tag { padding: 0; background: transparent; }
/* line 74, ../../assets/sass/componants/_side-box.scss */
.sidebar-box.tag h3 { width: 100%; }
/* line 78, ../../assets/sass/componants/_side-box.scss */
.sidebar-box.tag a { transition: background 0.2s; -moz-transition: background 0.2s; display: inline-block; float: none; width: auto; padding: 10px 20px; background: #d7d7d7; margin: 0 5px 5px 0; text-transform: uppercase; }
/* line 90, ../../assets/sass/componants/_side-box.scss */
.sidebar-box.tag a:hover { transition: background 0.2s; -moz-transition: background 0.2s; text-decoration: none; background: #6f7277; }

/* line 5, ../../assets/sass/componants/_side-componants.scss */
.side-componant { display: inline-block; vertical-align: top; width: 100%; margin: 0 0 5% 0; background: #1c2027; color: white; }
/* line 19, ../../assets/sass/componants/_side-componants.scss */
.side-componant .componant-title { margin: 0 0 2.5% 0; font-size: 30px; font-size: 1.875rem; font-family: "MissionScriptRegular", Arial, sans-serif; }
/* line 25, ../../assets/sass/componants/_side-componants.scss */
.side-componant .componant-title .title-small { font-family: Verdana, Arial, sans-serif; font-size: 12px; font-size: 0.75rem; }
/* line 30, ../../assets/sass/componants/_side-componants.scss */
.side-componant .componant-title .title-link { color: #14768c; }
/* line 35, ../../assets/sass/componants/_side-componants.scss */
.side-componant .componant-text { font-size: 10px; font-size: 0.625rem; font-family: Verdana, Arial, sans-serif; }
/* line 40, ../../assets/sass/componants/_side-componants.scss */
.side-componant .componant-link { display: inline-block; vertical-align: botom; width: 100%; background: rgba(0, 0, 0, 0.2); text-align: right; margin: 2.5% 0 0 0; padding: 2.5%; font-size: 10px; font-size: 0.625rem; font-family: Verdana, Arial, sans-serif; text-transform: uppercase; color: inherit; }
/* line 55, ../../assets/sass/componants/_side-componants.scss */
.side-componant a { -webkit-transition: background 0.2s linear, color 0.2s linear; -moz-transition: background 0.2s linear, color 0.2s linear; -o-transition: background 0.2s linear, color 0.2s linear; transition: background 0.2s linear, color 0.2s linear; }
/* line 58, ../../assets/sass/componants/_side-componants.scss */
.side-componant a:hover { -webkit-transition: background 0.2s linear, color 0.2s linear; -moz-transition: background 0.2s linear, color 0.2s linear; -o-transition: background 0.2s linear, color 0.2s linear; transition: background 0.2s linear, color 0.2s linear; text-decoration: none; }
/* line 64, ../../assets/sass/componants/_side-componants.scss */
.side-componant ul { margin: 0; }
/* line 69, ../../assets/sass/componants/_side-componants.scss */
.side-componant .padding-wrapper { padding: 2.427184466019%; }
/* line 73, ../../assets/sass/componants/_side-componants.scss */
.side-componant .componant-wrapper { display: inline-block; vertical-align: top; width: 100%; padding: 2.551020408163%; background: rgba(255, 255, 255, 0.2); }
/* line 81, ../../assets/sass/componants/_side-componants.scss */
.side-componant .componant-wrapper.small-wrapper { width: 60%; margin: 0 2.5% 0 0; }
/* line 87, ../../assets/sass/componants/_side-componants.scss */
.side-componant .componant-side-wrapper { display: inline-block; vertical-align: top; width: 37.5%; }
/* line 94, ../../assets/sass/componants/_side-componants.scss */
.side-componant .componant-inner-left, .side-componant .componant-inner-right { display: inline-block; vertical-align: middle; }
/* line 99, ../../assets/sass/componants/_side-componants.scss */
.side-componant .componant-inner-left { width: 50%; margin: 0 2.5% 0 0; }
/* line 104, ../../assets/sass/componants/_side-componants.scss */
.side-componant .componant-inner-right { width: 47.5%; }
/* line 109, ../../assets/sass/componants/_side-componants.scss */
.side-componant.grey { background: #d7d7d7; color: #293547; }
/* line 114, ../../assets/sass/componants/_side-componants.scss */
.side-componant.grey .componant-link { background: rgba(0, 0, 0, 0.1); color: #14768c; }
/* line 121, ../../assets/sass/componants/_side-componants.scss */
.side-componant:last-of-type { margin: 0; }
/* line 125, ../../assets/sass/componants/_side-componants.scss */
.side-componant .ss-group-btn { display: inline-block; vertical-align: top; margin: 0; padding: 0; height: 40px; line-height: 40px; width: 100%; }
/* line 135, ../../assets/sass/componants/_side-componants.scss */
.side-componant .add-etherpad { -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; display: inline-block; vertical-align: top; width: auto; margin: 0 10px 10px 0; float: right; padding: 2px 5px; background: #ff7f00; color: white; }
/* line 146, ../../assets/sass/componants/_side-componants.scss */
.side-componant .add-etherpad.full { margin: 0; width: 100%; text-align: center; height: 40px; line-height: 40px; }
/* line 154, ../../assets/sass/componants/_side-componants.scss */
.side-componant .add-etherpad:hover { -webkit-transition: background 0.2s linear; -moz-transition: background 0.2s linear; -o-transition: background 0.2s linear; transition: background 0.2s linear; background: #f47a01; }
/* line 160, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card { display: inline-block; vertical-align: top; width: 100%; height: 400px; margin: 0 0 5% 0; background: #d7d7d7; }
/* line 168, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card.flux-rss { height: auto; }
/* line 172, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card:nth-child(3n) { margin: 0; }
/* line 177, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .fb_iframe_widget { display: inline-block; vertical-align: top; width: 100%; }
/* line 182, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .fb_iframe_widget > span { width: 100% !important; }
/* line 185, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .fb_iframe_widget > span > iframe { width: 100% !important; }
/* line 192, ../../assets/sass/componants/_side-componants.scss */
.side-componant .uiScaledImageContainer { width: 100% !important; height: auto !important; }
/* line 197, ../../assets/sass/componants/_side-componants.scss */
.side-componant ._2a2q, .side-componant ._4-eo._2t9n { width: 100% !important; }
/* line 204, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-header, .side-componant.module-card .module-card-content, .side-componant.module-card .module-card-footer, .side-componant.module-card .module-card-header .module-card-title { display: inline-block; vertical-align: top; width: 100%; }
/* line 211, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-header, .side-componant.module-card .module-card-footer { height: 50px; line-height: 50px; }
/* line 216, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-content { height: auto; line-height: 300px; text-align: center; }
/* line 222, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-header { background: #14768c; color: white; padding: 0 15px; }
/* line 227, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-header .module-card-title { font-size: 24px; font-size: 1.5rem; font-family: "Ubuntu Condensed", Arial, sans-serif; margin: 0; height: 100%; line-height: 50px; }
/* line 234, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-header .module-card-title > a { display: block; width: 100%; }
/* line 241, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-footer { padding: 5px; }
/* line 244, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-footer .module-card-link { -webkit-transition: backgrouns 0.2s linear; -moz-transition: backgrouns 0.2s linear; -o-transition: backgrouns 0.2s linear; transition: backgrouns 0.2s linear; display: inline-block; vertical-align: top; background: #e5e5e5; height: 40px; line-height: 40px; width: 100%; border-bottom: 1px solid #c5c6cb; text-align: center; font-weight: bold; color: #1e2737; }
/* line 257, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-footer .module-card-link:hover { -webkit-transition: backgrouns 0.2s linear; -moz-transition: backgrouns 0.2s linear; -o-transition: backgrouns 0.2s linear; transition: backgrouns 0.2s linear; background: #c5c6cb; }
/* line 264, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper { display: inline-block; vertical-align: top; width: 100%; padding: 10px; line-height: 1em; }
/* line 271, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper .module-card-data { font-size: 12px; font-size: 0.75rem; display: inline-block; vertical-align: top; padding: 5px; background: white; color: #293547; line-height: 70px; height: auto; width: 100%; border: 1px solid #dfe0e4; margin: 5px 0; text-align: left; }
/* line 287, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper .module-card-data-image-link { display: inline-block; vertical-align: middle; position: relative; width: 17%; overflow: hidden; line-height: 1em; }
/* line 295, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper .module-card-data-image-link:empty { display: none; }
/* line 300, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper .module-card-data-image { width: 100%; }
/* line 304, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper .module-card-inner-data { display: inline-block; vertical-align: middle; width: 80%; padding: 0 0 0 5px; line-height: 1em; }
/* line 313, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper .module-card-title, .side-componant.module-card .module-card-data-wrapper .module-card-text { display: inline-block; vertical-align: middle; width: 100%; }
/* line 318, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper .module-card-title:empty, .side-componant.module-card .module-card-data-wrapper .module-card-text:empty { display: none; }
/* line 323, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper .module-card-title { font-size: 16px; font-size: 1rem; font-family: "Ubuntu Condensed", Arial, sans-serif; margin: 0 0 5px 0; }
/* line 329, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper .module-card-text a { color: #f18426; text-decoration: none; }
/* line 335, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper.smaller .module-card-data { min-height: 65px; margin: 0 0 8px 0; line-height: normal; }
/* line 341, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper.smaller .module-card-data-image-link { text-align: center; }
/* line 345, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper.smaller .module-card-data-image { width: 100%; }
/* line 349, ../../assets/sass/componants/_side-componants.scss */
.side-componant.module-card .module-card-data-wrapper.smaller .module-card-inner-data { width: 81.4324324%; }
/* line 355, ../../assets/sass/componants/_side-componants.scss */
.side-componant .module-card-empty { font-size: 14px; font-size: 0.875rem; font-family: "Ubuntu Condensed", Arial, sans-serif; background: white; width: 90%; display: inline-block; min-height: 50px; vertical-align: middle; margin-top: 50px; line-height: 50px; }

/* line 371, ../../assets/sass/componants/_side-componants.scss */
.new-etherpad-modal .modal-header, .new-etherpad-modal .modal-footer { border: 0px solid transparent; }
/* line 375, ../../assets/sass/componants/_side-componants.scss */
.new-etherpad-modal .modal-content { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
/* line 379, ../../assets/sass/componants/_side-componants.scss */
.new-etherpad-modal .modal-title { font-size: 30px; font-size: 1.875rem; font-family: "MissionScriptRegular", Arial, sans-serif; color: #242f3f; }
/* line 385, ../../assets/sass/componants/_side-componants.scss */
.new-etherpad-modal .new-etherpad-wrapper { padding: 10% 5%; background: #f3f3f3; border: 1px solid #e5e6e9; }
/* line 391, ../../assets/sass/componants/_side-componants.scss */
.new-etherpad-modal .new-etherpad-wrapper label, .new-etherpad-modal .new-etherpad-wrapper input { display: inline-block; vertical-align: top; width: 100%; }
/* line 397, ../../assets/sass/componants/_side-componants.scss */
.new-etherpad-modal .new-etherpad-wrapper label { margin: 0 0 5px 0; }
/* line 402, ../../assets/sass/componants/_side-componants.scss */
.new-etherpad-modal .modal-footer { margin: 0; }
/* line 406, ../../assets/sass/componants/_side-componants.scss */
.new-etherpad-modal .action-btn { line-height: 45px !important; }

/* line 3, ../../assets/sass/componants/_side-componant-connections.scss */
.connections-wrapper { width: 100%; }
/* line 6, ../../assets/sass/componants/_side-componant-connections.scss */
.connections-wrapper .connections-componant { position: relative; vertical-align: top; width: 25%; padding-bottom: 25%; height: 0; float: left; overflow: hidden; position: relative; right: -10px; opacity: 0; }
/* line 23, ../../assets/sass/componants/_side-componant-connections.scss */
.connections-wrapper .connections-profil-image, .connections-wrapper .connections-profil-placeholder { display: inline-block; vertical-align: middle; width: 100%; }
/* line 29, ../../assets/sass/componants/_side-componant-connections.scss */
.connections-wrapper .connections-profil-placeholder { height: 100%; text-align: center; font-size: 40px; font-size: 2.5rem; font-family: "Ubuntu Condensed", Arial, sans-serif; color: #293547; }
/* line 38, ../../assets/sass/componants/_side-componant-connections.scss */
.connections-wrapper .connections-name { transition: background 0.2s linear; position: absolute; width: 100%; left: 0; bottom: 0; font-size: 12px; font-size: 0.75rem; font-family: "Ubuntu Condensed", Arial, sans-serif; color: #fafafa; padding-left: 4.301075268817%; background: rgba(0, 0, 0, 0.4); line-height: 1.2; }
/* line 51, ../../assets/sass/componants/_side-componant-connections.scss */
.connections-wrapper .connections-name .connections-lastname { text-transform: uppercase; font-weight: bold; }
/* line 58, ../../assets/sass/componants/_side-componant-connections.scss */
.connections-wrapper .connections-firstname, .connections-wrapper .connections-lastname { float: left; clear: left; }
/* line 63, ../../assets/sass/componants/_side-componant-connections.scss */
.connections-wrapper .connections-link:hover > .connections-name { transition: background 0.2s linear; background: #14768c; }

/* line 23, ../../assets/sass/relationships-waiting-list.scss */
h2 { margin: 0 0 20px 0; line-height: 1.0em; text-transform: uppercase; }
/* line 28, ../../assets/sass/relationships-waiting-list.scss */
h2:last-of-type { margin: 20px 0; }

/* line 33, ../../assets/sass/relationships-waiting-list.scss */
.content { min-height: 600px; }
/* line 36, ../../assets/sass/relationships-waiting-list.scss */
.content.full { min-height: 0; }

/* line 41, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container { display: table; width: 100%; padding: 10px; border: 1px solid #6f7277; margin: 0 0 10px 0; }
/* line 48, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container:last-child { margin: 0; }
/* line 54, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .waiting-list-left, .waiting-list-container .waiting-list-center, .waiting-list-container .waiting-list-right { display: table-cell; padding: 10px 5px; }
/* line 59, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .waiting-list-left { width: 65%; vertical-align: middle; }
/* line 64, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .waiting-list-center { font-size: 14px; font-size: 0.875rem; width: 20%; vertical-align: middle; padding: 10px; text-align: center; }
/* line 71, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .waiting-list-center .image-list { width: 100%; margin: 0 0 5px 0; }
/* line 75, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .waiting-list-center .image-list > li { display: inline-block; width: 33.3333333333%; vertical-align: middle; float: left; }
/* line 81, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .waiting-list-center .image-list > li img { width: 100%; }
/* line 87, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .waiting-list-center a { transition: color 0.2s linear; color: #14768c; }
/* line 91, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .waiting-list-center a:hover { transition: color 0.2s linear; color: #126a7e; text-decoration: none; }
/* line 99, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .waiting-list-right { width: 15%; vertical-align: middle; text-align: center; }
/* line 106, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .image, .waiting-list-container .main-information { display: inline-block; vertical-align: middle; }
/* line 111, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .image { width: 65px; height: 65px; margin: 0 5% 0 0; }
/* line 117, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .main-information { width: 65%; font-family: Verdana, Arial, sans-serif; font-size: 12px; font-size: 0.75rem; }
/* line 123, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .main-information .name, .waiting-list-container .main-information .role { float: left; clear: left; }
/* line 128, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .main-information .name { color: #293547; font-weight: bold; }
/* line 134, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .message { display: inline-block; vertical-align: middle; margin: 0; font-size: 12px; font-size: 0.75rem; }
/* line 141, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .action { transition: all 0.2s linear; display: inline-block; height: 35px; line-height: 35px; width: 35px; color: #7a7b7d; border: 1px solid #7a7b7d; text-align: center; margin-right: .3em; border-radius: 3px; }
/* line 153, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .action:before { height: 100%; width: 100%; margin: 0; padding: 0; vertical-align: baseline; font-size: 35px; font-size: 2.1875rem; }
/* line 162, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .action:hover { transition: all 0.2s linear; text-decoration: none; }
/* line 167, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .action.icon-checkmark:hover { color: #14768c; border: 1px solid #14768c; }
/* line 172, ../../assets/sass/relationships-waiting-list.scss */
.waiting-list-container .action.icon-cross:hover { color: #d13938; border: 1px solid #d13938; }

@media screen and (max-width: 1024px) { /* line 185, ../../assets/sass/relationships-waiting-list.scss */
  .waiting-list-container .waiting-list-left { width: 40%; }
  /* line 189, ../../assets/sass/relationships-waiting-list.scss */
  .waiting-list-container .waiting-list-center { width: 45%; }
  /* line 193, ../../assets/sass/relationships-waiting-list.scss */
  .waiting-list-container .waiting-list-right { width: 15%; } }
/* line 199, ../../assets/sass/relationships-waiting-list.scss */
form { display: inline-block; }
