{% extends "pum://page/layout_simple_col.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/rpepum/css/my-publications.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_javascript %}
{% endblock %}

{% block content %}
	<div class="wrapper">
		<section class="content full">
			{% embed "pum://includes/common/componants/filter.twig" %}
            {% block title %}
                <h2 class="filter-title">{{ "favoritePublications.title"|trans({}, 'rpe') }} <span>(12)</span></h2>
            {% endblock %}
            
			{% endembed %}
            <ul class="list-general-box grid effect-2" id="grid">
            	{% spaceless %}
	            	{% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	            		{% block card_class %}
	            			card-dark-blue
	            		{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	                	{% block card_class %}
	                		card-dark-blue
	                	{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	            		{% block card_class %}
	            			card-dark-blue
	            		{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	                	{% block card_class %}
	                		card-dark-blue
	                	{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	            		{% block card_class %}
	            			card-dark-blue
	            		{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	                	{% block card_class %}
	                		card-dark-blue
	                	{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	            		{% block card_class %}
	            			card-dark-blue
	            		{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	                	{% block card_class %}
	                		card-dark-blue
	                	{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	            		{% block card_class %}
	            			card-dark-blue
	            		{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	                	{% block card_class %}
	                		card-dark-blue
	                	{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	            		{% block card_class %}
	            			card-dark-blue
	            		{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	                	{% block card_class %}
	                		card-dark-blue
	                	{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	            		{% block card_class %}
	            			card-dark-blue
	            		{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	                	{% block card_class %}
	                		card-dark-blue
	                	{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	            		{% block card_class %}
	            			card-dark-blue
	            		{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	                	{% block card_class %}
	                		card-dark-blue
	                	{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	            		{% block card_class %}
	            			card-dark-blue
	            		{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	                	{% block card_class %}
	                		card-dark-blue
	                	{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	            		{% block card_class %}
	            			card-dark-blue
	            		{% endblock %}
	                {% endembed %}
	                {% embed "pum://includes/common/componants/cards/card-classic.twig" %}
	                	{% block card_class %}
	                		card-dark-blue
	                	{% endblock %}
	                {% endembed %}
                {% endspaceless %}
            </ul>
        </section>
    </div>
{% endblock %}

