{% extends "pum://empty_layout.html.twig" %}

{% block main_content %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-label-report">{{ ('action.friends-list.' ~ type)|trans({}, 'rpe') }}</h4>
    </div>
    <div class="modal-body">

    </div>

    <div class="modal-footer">
        <a role="button" data-dismiss="modal" class="action-btn light-blue">{{ "tutorial.next"|trans({}, 'rpe') }}</a>
    </div>
{% endblock main_content %}
