{% extends "pum://empty_layout.html.twig" %}

{% block main_content %}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="modal-label-report">{{ ('action.report.' ~ type)|trans({}, 'rpe') }}</h4>
	</div>
	<div class="modal-body">
		{% if sent %}
			Votre demande a a été envoyée à l'équipe Viaeduc
		{% else %}
			{{ form(form, {action: path('report', {type: type, id: id})}) }}
		{% endif %}
	</div>

	<div class="modal-footer">
		{% if sent == 0 %}
			<button type="button" class="action-btn cancel-button light-grey btn-default" data-dismiss="modal">Annuler</button>
			<button type="submit" class="action-btn accept-button orange btn-primary" form="{{ form.vars.attr.id }}">Valider</button>
		{% else %}
			<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
		{% endif %}
	</div>
{% endblock main_content %}
