{% set filters = app.request.query.get(facet_key) %}

{# Temp fix cause of locale, should be changed in near futur #}
{% set year = _time|jsTimeToPhpTime|localizeddate('none', 'none', 'en', app.session.get('user.timezone'), 'Y') %}
{% set encodedValue = _time|jsTimeToPhpTime|localizeddate('none', 'none', app.request.locale, app.session.get('user.timezone'), 'MM-') ~ year %}
{# {% set label = _time|jsTimeToPhpTime|localizeddate('none', 'none', app.request.locale, app.session.get('user.timezone'), 'MMMM ') ~ year %}#}

{% if filters is iterable and encodedValue in filters %}

    {% set is_active = 'active' %}
    {% set href = app.request.query.all %}
    {% set values = filters|removeFromArray(encodedValue, null) %}
    {% set href = app.request.query.all|merge({(facet_key): values, p: null }) %}

{% else %}

    {% set is_active = '' %}

    {% if filters is null %}
        {% set values = [encodedValue] %}
    {% else %}
        {% set values = filters|merge([encodedValue]) %}
    {% endif %}

    {% set href = app.request.query.all|merge({(facet_key): values, p: null }) %}

{% endif %}

<a href="?{{ href|url_encode }}" class="{{ is_active }}">{{ year }} <span>({{ _count }})</span></a>
