{% extends "pum://empty_layout.html.twig" %}

{% block main_content %}{% spaceless %}
    {% for editor in pager %}
        {% include ('pum://includes/common/componants/cards/card-editor.html.twig') %}
    {% endfor %}

    {% if pager.nbPages is defined and pager.currentPage < pager.nbPages %}
        <li class="full page-loadmore js-loadmore" data-href="{{ path('ajax_editorlist', {mode: mode, page: pager.currentPage + 1}) }}" data-target=".list-general-box">
            <a href="#" class="read-other">...</a>
        </li>
    {% endif %}
{% endspaceless %}{% endblock %}