// -----------
// Breadcrumbs
// -----------

#breadcrumb {
    margin-top: 15px;
    margin-bottom: 15px;
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        @include fontSize(12);
        display: inline-block;
        vertical-align: middle;
        line-height: 15px;
        margin: 0 1% 0 0;
        color: $dark-blue-font;
        font-family: $Verdana;
        position: relative;
        padding-left: 15px;
        .icon-home{
            color: $dark-blue-font;
            @include fontSize(22);
        }
        &.home{
                margin-right: 0;
                padding-left: 0;
            }
        &:first-child a{
            padding-left: 0;
        }
        a,span{
            width: auto;
            color: $dark-blue-font;
            @include fontSize(12);
            font-family: $Verdana;
            position: relative;

        }
        &.item-index:before {
            position: absolute;
            left: 0;
            display: block;
            content:'>';
            text-align: center;
            top: 0;
            line-height: 15px;
            @include fontSize(12);
        }
    }
}