.dashboard-settings-wrapper,
.dashboard-settings-header,
.dashboard-settings-content,
.dashboard-settings-widget,
.dashboard-settings-widget-left,
.dashboard-settings-widget-center,
.dashboard-settings-widget-right,
.dashboard-settings-widget-options {
	display        : inline-block;
	vertical-align : bottom;
	width          : 100%;
}


.dark {
	background : #1c2027;
}

.actions {
	display        : inline-block;
	vertical-align : top;
	margin         : 0 0 10px 0;
}

.actions .action-btn {
	margin : 0;
	width  : auto;
}


.dashboard-settings-wrapper {
	padding    : 0 0 0.8% 0;
}

.dashboard-settings-header {
	@include fontSize(16);
	height      : 50px;
	line-height : 50px;
	padding     : 0 0.8%;
	background  : $light-blue-1;
	color       : $white;
	font-family : $UbuntuCondensed;

	.dashboard-title {
		margin      : 0;
		height      : 50px;
	    line-height : 50px;
	}

	&.not-active {
		margin     : 20px 0 0 0;
		background : $dark-blue-2;
	}
}

.dashboard-settings-content {
	background  : $background-white;
	padding     : 0.8% 0.8% 0 0.8%;
}

.dashboard-settings-widget {
	min-height  : 60px;
	line-height : 60px;
	padding     : 0.8%;
	border      : 1px solid $border-blue;
	background  : $white;

	&:last-of-type {
		margin : 0 0 0.8% 0;
	}
}

.dashboard-settings-widget-left,
.dashboard-settings-widget-center,
.dashboard-settings-widget-right,
.dashboard-settings-widget-options {
	min-height  : 60px;
	line-height : 60px;
}

.dashboard-settings-widget-left {
	width      : 10.4%;
	text-align : center;

	.dashboard-settings-image {
		max-height : 100%;
		max-width  : 70%;
	}
}

.dashboard-settings-widget-center {
	width       : 57.199999999999996%;
	color       : $dark-blue-1;

	.dashboard-settings-widget-text-wrapper {
		display        : inline-block;
		vertical-align : middle;
		width          : 100%;
		line-height    : 1em;
	}

	.dashboard-settings-widget-title,
	.dashboard-settings-widget-text {
		width          : 100%;
	}

	.dashboard-settings-widget-title {
		@include fontSize(24);
		font-family : $MissionScript;
		margin      : 0 0 5px 0;
		line-height : 1em;
	}

	.dashboard-settings-widget-text {
		@include fontSize(14);
		font-family : Arial, sans-serif;
		line-height : 1em;
	}
}

.dashboard-settings-widget-right {
	width      : 32.4%;
	text-align : right;

	[class^="icon-"]:before, [class*=" icon-"]:before {
		padding : 0 .5em 0 0;
	}

	.action-btn {
		@include fontSize(17);
		vertical-align : bottom;
		margin         : 0;
		height         : 60px;
		line-height    : 60px;
		padding        : 0 26px;
		width          : auto;
		font-family    : $UbuntuCondensed;

		&:first-of-type {
			margin : 0 10px 0 0;
		}

		&:before {
			padding : 0;
			margin  : 0 5px 0 0;
		}

		&.dashboard-param-btn.active {
			color      : $light-blue-1;
			background : $light-grey-1;
			margin     : 0;
		}
	}
}

.dashboard-settings-options {
	@include transition(min-height 0.2s linear);
	width      : 100%;
	// margin     : 0 0 10px 0;
	background : $light-grey-1;
	padding    : 0% 14.5% 0 10.4%;

	// For JS
	height   : 0px;
	overflow : hidden;
	// End for JS

	&.active {
		@include transition(min-height 0.2s linear);
		min-height : 60px;
		height     : auto;
		overflow   : visible;
	}

	.action-btn,
	.dashboard-add-item-wrapper,
	.dashboard-add-item-description,
	.dashboard-add-item-form,
	.dashboard-add-item-input,
	.dashboard-add-item-btn,
	.dashboard-position-wrapper,
	.dashboard-position-form,
	.dashboard-position-select-label,
	.dashboard-position-select-select {
		display        : inline-block;
		vertical-align : top;
		width          : 100%;
	}

	.action-btn {
		margin      : 0;
		padding     : 0 10px;
		height      : 45px;
		line-height : 45px;
		width       : auto;
	}

	.add-dashboard-item {
		vertical-align : bottom;
		margin         : 0 0 7px 0;

		&:focus,
		&:active {
			color : $white;
		}
	}

	.dashboard-add-item-wrapper {
		@include transition(max-height 0.2s linear);
		@include transition(border 0.2s linear);
		display     : none;
		background  : $white;
		line-height : 1em;

		// for js
		min-height : 0px;
		height     : 0px;
		overflow   : hidden;

		&.active {
			@include transition(max-height 0.2s linear);
			@include transition(border 0.2s linear);
			display    : inline-block;
			min-height : 110px;
			height     : auto;
			border     : 1px solid $background-blue-2;
			margin     : 0 0 10px 0;
		}
	}

	.dashboard-add-item-description {
		@include fontSize(14);
		width   : 70%;
		padding : 2% 2% 1% 2%;
		color   : $dark-blue-font;
	}

	.dashboard-add-item-form {
		width   : 70%;
		padding : 0% 2% 2% 2%;
	}

	.dashboard-add-item-form .dashboard-add-item-input {
		width : 85%;
		margin: 0 0 10px 0;

		&:last-of-type {
			margin : 0 0 0 0;
		}
	}

	.dashboard-add-item-form .dashboard-add-item-btn {
		width : 15%;
	}

	.dashboard-position-form {
		background : $background-blue-2;
		color      : $white;
		padding    : 2%;
		margin     : 1% 0 10px 0;
	}

	.dashboard-position-select-label {
		width : 20%;
	}

	.dashboard-position-select {
		width : 40%;
		color : $dark-blue-font;
	}

	.btn-group .dropdown-toggle:active,
	.btn-group .dropdown-toggle:focus {
		background : $light-grey-1 !important;
	}
}

@media screen and (max-width: $landscape-screen) {
	.dashboard-settings-widget-right .action-btn {
		@include fontSize(14);
	}
}