// -----------
// Sidebar box
// -----------

// Add .tag for tag version

.sidebar-box {
    display: inline-block;
    width: 100%;
    padding: 4% 5%;
    background: $background-grey-1;
    font-family: $Verdana;
    margin: 0 0 20px 0;

    &:last-child {
        margin: 0;
    }

    > h3 {
        font-family: $MissionScript;
        color: $dark-blue-font;
        @include fontSize(30);
        margin: 0 0 10px 0;
    }

    ul > li {
        display: inline-block;
        width: 50%;
        margin: 0 0 5% 0;

        img {
            display: inline-block;
            width: 65px;
            height: 65px;
            margin: 0 4px 0 0;
        }

        .info-details {
            display: inline-block;
            vertical-align: middle;
            width: 100px;
            color:$dark-blue-font;
            @include fontSize(12);
            line-height: 1.1em;

            a {
                display: inline-block;
                color:$dark-blue-font;
                margin:0 0 3px 0;
                font-weight: bold;
            }

            .square-btn {
                display: inline-block;
                color: $light-grey-font;
                margin: 7px 0 0 0;
            }
        }

        &:hover {
            text-decoration: none;
        }
    }

    > a {
        float: right;
        @include fontSize(14);
        color:$dark-blue-font;
    }

    &.tag {
        padding:0;
        background: transparent;
        h3 {
            width: 100%;
        }

        a {
            transition: background 0.2s;
            -moz-transition: background 0.2s;

            display: inline-block;
            float: none;
            width: auto;
            padding:10px 20px;
            background: $background-grey-1;
            margin: 0 5px 5px 0;
            text-transform: uppercase;

            &:hover {
                transition: background 0.2s;
                -moz-transition: background 0.2s;

                text-decoration: none;
                background: $background-grey-2;
            }
        }
    }

    @media screen and (max-width: $portrait-screen) {

    }

    @media screen and (max-width: $landscape-screen) {

    }
}