// --
// Authors
.author-container {
    display: inline-block;
    vertical-align: top;
    width: 99%;
    height: 200px;
    overflow-y: auto;

    .swiper-slide {
        width: 100%;
        float: left;
        background: $background-white;
        margin: 0 0 1px 0;
    }

    .author-image,
    .author-info {
        display: inline-block;
        vertical-align: middle;
    }

    .side-author-image {
        width: 25%;
    }

    .author-info {
        @include fontSize(10);
        font-family: $Verdana;
        color: $dark-blue-font;
        padding: 0 0 0 5%;
        width : 75%;
    }

    .autor-name,
    .author-status,
    .author-role,
    .author-relations {
        float: left;
        clear: left;
    }

    .author-name {
        margin: 0;
        @include fontSize(12);
        font-family: $Verdana;
        font-weight: bold;

        > span {
            text-transform: uppercase;
        }
    }

    .author-role {
        color: $dark-grey-font;
    }

    .author-link {
        color: $light-blue-font;
    }
}

.author-scroll {
    display: inline-block;
    vertical-align: top;
    width: 1%;
    height: 200px;
    background: $light-grey-1;
}