.ressource-link {
    transition: all 0.2s linear;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: 0 0 20px 0;

    background-color: #136f85;

    &:hover {
        transition: all 0.2s linear;
        background-color: #18839d;
    }
}

.ressource-back {
    display: inline-block;
    width: 100%;
    height: 100%;

    color: $white;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.ressource-arrow,
.group-image,
.ressource-group-info {
    display: inline-block;
    vertical-align: middle;
}

.ressource-arrow {
    @include fontSize(26);
    width: 8.47457627118644%;
    text-align: center;

    opacity: 0.5;

    &:before {
        padding : 0;
    }

}

.group-image {
    width: 9.685230024213075%;
}

.ressource-group-info {
    @include fontSize(13);
    width: 81.8401937046%;
    padding: 0 0 0 10px;
    line-height: 1em;

    font-family: $UbuntuCondensed;

    span {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .group-title {
        font-weight: bold;
    }
}