// --
// Ressources
.ressource-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 49.5%;
    margin: 0 1% 1% 0;

    //Animation
    position: relative;
    left: -10px;
    opacity: 0;

    > a {
        display: table;
        width: 100%;
        height: 100%;
    }

    .ressource-wrapper-link {
        display: table;
        width: 100%;
        height: 100%;
    }

    // Inner positioning
    .ressource-left,
    .ressource-right {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        height: 100%;

        .ressource-size-container {
            padding-top: 100%;
        }

        .ressource-content-container {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align:center;
            /* Align center inline elements */
            font: 0/0 a;

            &:empty {
                background-color: $lighter-grey-1;
            }
        }

        .ressource-content-container:before {
            content:' ';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
    }

    .ressource-left {
        position: relative;
        overflow: hidden;

        &:before {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -10px;
            content: '';
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid $background-white;
            z-index: 3000;
        }
    }

    .ressource-right {
        position: relative;
        background: $background-white;
    }

    .ressource-image,
    .ressource-inner-text {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        // height: 100%;
    }

    &:nth-last-child(-n+2){
        margin: 0 1% 0 0;
    }

    &:nth-child(2n){
        margin: 0 0 1% 0;
    }

    //Styling
    .ressource-title {
        margin: 0;
        padding: 5%;

        @include fontSize(12);
        font-family: $UbuntuCondensed;
        color: $dark-grey-font;
        text-transform: none;
    }

    .ressource-link {
        position: absolute;
        bottom: 5%;
        right: 5%;
        float: right;

        @include fontSize(12);
        font-family: $UbuntuCondensed;
        color: $light-blue-1;

        > span {
            color: $dark-grey-font;
        }
    }

    &.sous-groupe {
        width  : 100%;
        margin : 0 0 10px 0;

        &:last-of-type {
            margin : 0;
        }

        .ressource-left {
            width : 25%;

            &:before {
                top: 50%;
            }
        }
        .ressource-right {
            width : 75%;

            &.parent-group {
                line-height : 75px;

                .ressource-title {
                    @include fontSize(15);
                    display        : inline-block;
                    vertical-align : middle;
                    width          : 100%;
                    padding        : 0 5%;
                }
            }

            .ressource-title {
                padding : 0% 5%;
            }

            .sous-groupe-people
            .sous-groupe-list {
                display        : inline-block;
                vertical-align : top;
                width          : 100%;
            }

            .sous-groupe-list {
                padding : 5%;
            }

            .sous-groupe-person {
                @include fontSize(13);
                display        : inline-block;
                vertical-align : middle;
                width          : 35px;
                height         : 35px;
                line-height    : 14px;
                text-align     : center;

                &.more-people {
                    padding : 4px;

                }

                a,
                img {
                    display : block;
                    width   : 100%;
                    height  : 100%;
                }
            }
        }
    }
}

@media screen and (max-width: $landscape-screen) {
    .ressource-link {
        display : none;
    }
}