<div class="modal fade modal-first confirm-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p class="data-confirm-message">

                </p>
            </div>
            <div class="modal-footer">
                <a aria-hidden="true" data-dismiss="modal" class="action-btn grey refuse-mdoal-message">Annulé</a><!--
                --><a role="button" data-dismiss="modal" class="action-btn light-blue small confirm-modal-message">Confirmer</a>
            </div>
        </div>
    </div>
</div>