// --------------
// Forced imports
// --------------

@import "compass/css3";
@import "globals/_vars";
@import "globals/_mixin";

// ----------------
// Specific imports
// ----------------

@import "componants/_forms";

// ------------
// Specific CSS
// ------------

.small-header {
    text-align : center;
}

.password-reset-image {
    display        : block;
    width          : 1200px;
    height         : 334px;
    margin         : 0 auto;
    background     : url('../images/password_reset_bg.jpg') no-repeat;
}

.form-wrapper {
    display        : inline-block;
    vertical-align : top;
    background     : $light-grey-1;
    padding        : 40px;
}

.password-title,
.password-title-small {
    display        : inline-block;
    vertical-align : top;
    width          : 100%;
}

.password-title {
    @include fontSize(24);
    display        : inline-block;
    vertical-align : top;
    margin         : 0px;
    font-family    : $UbuntuCondensed;
    text-transform : uppercase;
}

.password-title-small {
    display        : inline-block;
    vertical-align : top;
    margin         : 0 0 20px 0;
}

.password-inner-form {
    display        : inline-block;
    vertical-align : top;
    width          : 100%;
    background     : $white;
    border         : 1px solid $light-grey-2;
    padding        : 20px;
    margin         : 0 0 20px 0;

    ul {
        margin : 0;
    }

    div {
        margin : 0 0 10px 0;

        &:last-child {
            margin : 0;
        }
    }
}

// .form-right {
//     width : 69%;
// }

// .validate-btn {
//     float       : right;
//     margin      : 0;
//     height      : 35px;
//     line-height : 35px;
//     padding     : 0 0.5em;
// }