// --------------
// Forced imports
// --------------

@import "compass/css3";
@import "globals/_vars";
@import "globals/_mixin";

// ----------------
// Specific imports
// ----------------

@import "componants/_breadcrumbs";

#share_box{
	overflow: hidden;

	img{
		width: 100%;
	}

	div{
		//overflow: hidden;
	}
	.share_title{
	    color: #14768c;
	    font-weight: bold;
	}
}
.choiceTypeShare{
	padding: 0px 20px 20px 20px;
	min-height: 200px;

	.dropdown-menu ul li:first-child{
		border-bottom: solid 1px #ccc;
	}
	div > a{
		display: inline-block;
		padding: 7px;
	}
}
