{% extend "form_div_layout.html.twig" %}

<form class="edit-input">
    <input type="button" class="action-btn dark-grey btn-cancel" value="cancel" >
    <input type="text" placeholder="Mon folder a" class="" name="folder_name">
    <input type="submit" name="submit" class="action-btn light-blue btn-submit" value="ok" >
</form>